.tokenHeader {
  background-color: #f3f2f7;
  padding: 44px 15px 59px 15px;
}

.searchContainer {
  margin-left: auto;
  width: 100%;
}

 .marginRight{
  width: 250px!important;
}

@media screen and (min-width: 576px) {
  .tokenHeader {
    padding-left: 44px;
    padding-right: 44px;
  }
  .secondAd{
   margin: 30px!important;
  }
}

@media screen and (max-width: 992px) {
  .LeftBarToken {
    margin-top: 1.5rem;
  }
}

@media screen and (min-width: 992px) {
  .searchContainer {
    max-width: 480px;
  }
  .walletsContainer {
    margin-top: 110px;
  }
  .secondAd{
    width: 500px;
  }
}
