.table {
  font-family: "SF Pro Display Medium";
  width: 100%;
}

.table thead {
  overflow-y: auto;
  overflow-x: hidden;
}

.table tbody {
  overflow-y: scroll;
  overflow-x: hidden;
}

.table th {
  font-family: "SF Pro Display Medium";
  font-weight: normal;
  padding: 13px;
  font-size: 12px;
  display: flex;
  align-items: center;
}

.table td {
  padding: 15px 13px;
  font-size: 14px;
  border-bottom: 1px #eff2f5 solid;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table td:first-of-type {
  border-left: 1px #eff2f5 solid;
}

.table td:last-of-type {
  border-right: 1px #eff2f5 solid;
}

.table td:first-of-type,
.table th:first-of-type {
  padding-left: 20px;
}

.tableRow:hover {
  transition: 0.3s all;
  background-color: #00000013;
  cursor: pointer;
}

.columnHeader {
  color: #e5e7eb;
  background-color: #25293e;
}

@media screen and (min-width: 520px) {
  .table {
    table-layout: fixed;
  }
}

@media screen and (max-width: 520px) {
  .table td {
    padding: 15px 7px;
  }
}
