.problemCard {
  background-color: #25293e;
  border-radius: 10px;
  overflow: hidden;
  border-bottom: #9f4ae8 solid 8px;
  width: 100%;
  padding: 14px 16px;
  max-width: 496px;
}

.problemCardTitle {
  font-size: 21px;
}

.problemCardDescrption {
  color: #9a9a9a;
  font-size: 18px;
  margin-top: 10px;
  position: relative;
  padding-left: 25px;
}

.problemCardDescrption::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  padding-right: 5px;
  transform: translateY(-50%);
  background-color: #9f4ae8;
  width: 13px;
  height: 12px;
  border-radius: 50%;
}
