.resultRecord {
  padding: 5px 10px;
  transition: 0.5s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  height: 56px;
  width: 100%;
  animation: resultDropdownAnimation;
}

@keyframes resultDropdownAnimation {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}

.resultRecord:hover {
  /* border:1px solid ; */
  border-color: rgba(37, 41, 44, 0.2);
  background-color: rgba(136, 136, 136, 0.1);
}

.resultRecord:hover .arrowBtn_rtl,
.resultRecord:hover .arrowBtn_ltr {
  visibility: visible;
  opacity: 1;
}

.resultRecordWrapper {
  width: 100%;
  display: flex;
  font-family: "SF Pro Display Semibold";
  gap: 5px;
}

.resultTokenName {
  font-family: "SF Pro Display Semibold";
  font-size: 14px;
  color: #333;
  margin: 0;
  margin-right: 5px;
  text-transform: capitalize;
  transition: 0.5s;
}

.resultRecord:hover .resultTokenName {
  color: #9f4ae8;
}

.resultTokenTicker {
  font-size: 12px;
  color: #888;
  text-transform: uppercase;
  font-family: "SF Pro Display Medium";
}

.logo {
  flex: 0 1 18px;
  width: 18px;
  height: 18px;
}

.icon_token_letter {
  flex: 0 1 18px;
  width: 18px;
  height: 18px;
  background-color: rgba(159, 74, 232, 0.15);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon_token_text {
  font-size: 12px;
  padding: 0;
  margin: 0;
}

.headerTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.symbol {
  margin-left: 5px;
}

.checkIcon {
  color: #9f4ae8;
}

.scam {
  padding: 2px 6px !important;
  color: #ea3943 !important;
  margin-left: 5px;
  text-transform: capitalize !important;
}

.scanCard {
  padding: 4px 9px;
  font-size: 10px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "SF Pro Display Regular";
  width: 60px;
  height: 20px;
}

.scanRed {
  color: rgba(234, 57, 67, 1);
  background-color: rgba(234, 57, 67, 0.15);
}

.scanYellow {
  color: rgba(245, 163, 65, 1);
  background-color: rgba(245, 163, 65, 0.2);
}

.scanGreen {
  color: rgba(22, 199, 132, 1);
  background-color: rgba(22, 199, 132, 0.2);
}

.details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.resultTokenDetails {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.address {
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(136, 136, 136, 0.1);
  color: #888;
  font-size: 10px;
  padding: 4px 10px;
  max-width: 123px;
  width: 100%;
  font-family: "SF Pro Display Regular";
  height: 20px;
}
.address button {
  background-color: transparent;
  border: 0;
  font-size: 13px;
  color: #888;
}

.isScam {
  background-color: #ea3943;
  background-color: rgba(234, 57, 67, 0.2) !important;
  color: #ea3943;
  border-radius: 2px;
  display: inline-block;
  font-size: 10px;
  padding: 6px 8px;
  text-align: center;
  font-family: "SF Pro Display Regular";
}
.isNotScam {
  color: #16c784;
  background-color: rgba(22, 199, 132, 0.2) !important;
  display: inline-block;
  font-size: 10px;
  border-radius: 2px;
  padding: 6px 8px;
  text-align: center;
  font-family: "SF Pro Display Regular";
}

.arrowBtn_rtl,
.arrowBtn_ltr {
  border: 0;
  background: rgba(136, 136, 136, 0.8);
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  border-radius: 2px;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

@media only screen and (max-width: 991px) {
  .arrowBtn_rtl,
  .arrowBtn_ltr {
    position: absolute;
    top: 0;
    bottom: 0;
    transform: translate(0, 50%);
  }
  .arrowBtn_ltr {
    right: 10px;
  }
  .arrowBtn_rtl {
    left: 10px;
  }
  .resultRecord {
    position: relative;
  }
}
