.searchNote {
  font-size: 12px;
  color: #888;
  display: flex;
  align-items: center;
  font-family: "SF Pro Display Medium";
  margin-bottom: 9px;
}

.dot {
  width: 10px;
  height: 10px;
}

.dot_ltr {
  color: #9f4ae8;
  margin-right: 5px;
}
.dot_rtl {
  color: #9f4ae8;
  margin-left: 5px;
}
.searchInput {
  width: 100%;
  height: 52px;
  display: flex;
  align-items: center;
  padding: 0 5px;
  border: 1px solid;
  border-color: rgba(37, 41, 44, 0.2);
  outline: none;
  position: relative;
}
.searchInput:focus {
  border: 1px solid #9f4ae8;
}
.searchSection {
  position: relative;
  width: 100%;
}

.searchBtn {
  color: #fff;
  background-color: #9f4ae8;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;
  transition: 0.5s;
  position: absolute;
  border: 0;
  top: 5px;
  font-family: "SF Pro Display Medium";
  cursor: pointer;
}

.searchBtn:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.searchBtn_ltr {
  min-width: 90px;
  height: 42px;
  right: 5px;
}
.searchBtn_rtl {
  width: 80px;
  height: 42px;
  left: 5px;
}

.searchNote2 {
  display: flex;
  align-items: center;
  margin-top: 7px;
}
.note {
  font-size: 8px;
  color: #9f4ae8;
  text-transform: uppercase;
  width: 60px;
  height: 20px;
  background-color: rgba(159, 74, 232, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  font-family: "SF Pro Display Medium";
}
.note2 {
  font-size: 12px;
  font-weight: 400;
  color: #333;
  margin-right: 5px;
  display: flex;
  font-family: "SF Pro Display Medium";
  text-transform: capitalize;
}

.searchInput::placeholder {
  color: #888;
}
.bitcoin_ltr {
  width: 18px;
  height: 18px;
  background-color: #333;
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 5px;
}
.bitcoin_rtl {
  width: 18px;
  height: 18px;
  background-color: #333;
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-left: 5px;
}
.searchBlock {
  background-color: #fff;
  border: 1px solid;
  border-color: rgba(37, 41, 44, 0.2);
  width: 100%;
  margin-top: 5px;
  padding: 5px;
  position: absolute;
  box-shadow: 1px 1px 7px 3px #80808038;
  z-index: 2;
  max-height: 272px;
  overflow-y: auto;
}

.notFoundData {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-family: "SF Pro Display Medium";
  color: #e13232;
  padding: 10px;
}

@media only screen and (max-width: 991px) {
  /* .searchSection{
        width: 100%;
    } */
  .searchInput {
    width: 100%;
  }
  .searchNote {
    margin-top: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .searchSection {
    width: 100%;
  }
}
