.listGroup_rtl,
.listGroup_ltr {
  border: 1px #eff2f5 solid;
  padding: 5px 10px;
}

.contractAnalysis_title {
  font-family: "SF Pro Display Medium";
  font-size: 16px;
  color: #25292c;
  margin-bottom: 10px;
}

.listItem {
  display: flex;
  justify-content: space-between;
  padding: 6px 10px 8px 10px;
}

.listItem:not(:last-child) {
  border-bottom: 1px #eff2f5 solid;
}

.indicatorName {
  font-family: "SF Pro Display Medium";
  font-size: 14px;
  color: #333333;
}

.indicatorStatus {
  border-radius: 2px;
  max-width: 86px;
  height: 20px;
  text-align: center;
  font-size: 10px;
  font-family: "SF Pro Display Semibold";
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.detected {
  background-color: rgba(234, 57, 67, 0.15) !important;
  color: rgba(234, 57, 67, 0.9);
}
.notdetected {
  color: #16c784;
  background-color: rgba(22, 199, 132, 0.2) !important;
}

@media screen and (min-width: 1200px) {
  .listGroup {
    width: 285px;
    height: 255px;
  }
}
