.treeContainer {
    width: 480px;
    margin: 100px auto;
    background-color: #FDFDFD;

}

.shareWrapper {
    /* background-color: blue; */
    text-align: end;
    padding-top: 20px;
    padding-right: 20px;
}

.shareWrapper span {
    color: #8968E9;
    display: inline-block;
    text-align: start;
    width: 40px;
    font-size: 12px;
    font-family: 'SF Pro Display Regular'

}

.btn-share {
    width: 32px;
    height: 32px;
    padding-top: 1px;
    padding-bottom: 4px;
    border-radius: 9px;
    color: white !important;
    border: none;
    outline: none;
    background-color: rgba(138, 105, 235, 0.1);
}

.info {
    text-align: center;
    margin-top: 14px;
}

.info h5 {
    font-family: 'SF Pro Display Medium';
    font-size: 22px;
    color: #23282C;
    padding-top: 7px;
}

.info p {
    width: 308px;
    font-size: 12px;
    font-family: 'SF Pro Display Medium';
    margin: auto;
    color: #6C757D;
}

.link-wrapper {
    width: 400px;
    height: 50px;
    border: 1px solid #D6D6D6;
    display: flex;
    align-items: center;
    border-radius: 9px;
    overflow: hidden;
    position: relative;
    margin: auto;
    margin-top: 15px;
}
.iconWrapper{
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin: auto;
    margin-bottom: 45px;
    margin-top: 20px;
}
.iconWrapper a{
    width: 32px;
    height: 32px;
    border-radius:9px ;
    background-color: #B1BACB;
    color: white;
    font-size: 18px;

}
.iconWrapper a:hover{
    background-color: #1DA1F2;
}
.link-wrapper h5 {
    position: absolute;
    font-size: 12px;
    font-family: 'SF Pro Display Semibold';
    color: #23282C;
    height: 100%;
    line-height: 45px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.8s;
   

}

.link-wrapper:hover {
    border-color: #8968E9;
}


.link-btnShare {
    position: absolute;
    right: -50px;
    transition: all 0.8s;
    background-color: #8968E9;
    height: 100%;
    top: 0;
    width: 50px;
    border: none;
    outline: none;
    padding-top: 1px;
    padding-bottom: 6px;
}
.link-wrapper:hover .link-btnShare {
    right: 0px;
}
.link-wrapper:hover h5 {
    transform: translateX(-90%);

}
