.cardGreen{
    width: 100%;
    /* background-color:rgba(22, 199, 132,0.2); */
    border: 1px solid #16c784;
    padding: 10px;
    display: flex;
    
}
.cardYellow{
    width: 100%; 
    border: 1px solid #F5A341;
    padding: 10px;
    display: flex; 
}
.cardYellow h5{
    color: #F5A341;
}
.rgIcon{
    width: 16px;
    height: 16px;
    line-height: 16px;
    background-color: #F5A341;
    color: white;
    display: inline-block;
    text-align: center;
    border-radius: 2px;

}
.cardRed{
    width: 100%;
    border: 1px solid #EA3943;
    padding: 10px;
    display: flex;

}
.cardGreen h5{
    font-size: 14px;
    color: #16c784;
    font-family: 'SF Pro Display Medium';
    width: 100%;
}
.cardGreen p, .cardRed p{
    font-size: 12px;
    font-family: 'SF Pro Display Regular';
}

.cardRed h5{
    font-size: 14px;
    color: #EA3943;
    font-family: 'SF Pro Display Medium';
   
}

.loader{
    width: 300px;
    height:90px ;
    border: 1px solid #6c757d;
}
.loaderCard{
    width: 90%;
    height: 90%;
    margin: auto;
    line-height: 85px;
}
@media screen and (max-width:992px) {
    .loader{
        width: 280px;

    } 
 }
@media screen and (max-width:768px) {
   .loader{
    width: 100%;
   } 
   .cardGreen h5, .cardRed h5{
    padding-top: 4px;
   }
   .cardHeader{
    padding-top: 14px;
    padding-bottom: 5px;
   }
}