.title{
    margin: 37px 0 24px ;
    color: #888;
    font-weight: 500;
    font-size: 26px;
    font-family: 'SF Pro Display Medium';
}
.secondTitle{
    font-size: 16px;
    font-weight: 500;
    color: #333;
    margin: 0 0 10px 10px;
    text-transform: capitalize;
    font-family: 'SF Pro Display Medium';
}
.infoIcon{
    color: rgba(136,136,136,0.2);
}
.distChartDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border:1px solid #EFF2F5;
    padding: 25px 20px 31px;
    /* width: 590px; */
    
}
.infoRecord{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 28px;
    flex-wrap: wrap;
}
.infoTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.infoRecord h6{
    font-size: 14px;
    font-weight: 500;
    color: #333;
    text-transform: capitalize;
    margin:0;
    width: 150px;
    font-family: 'SF Pro Display Medium';
   
}
.circleIconOne{
    color: #7BE1D9;
    margin-right: 10px;
}
.circleIconTwo{
    color: #4CD696;
    margin-right: 10px;
}
.circleIconThree{
    color: #EC6666;
    margin-right: 10px;
}
.chartNumber{
    font-size: 16px;
    font-weight: 500;
    color: #333;
    font-family: 'SF Pro Display Medium';
   
}
.infoRecord p{
    color: #888;
    font-size: 12px;
    margin: 0;
    font-family: 'SF Pro Display Regular';
}

@media (max-width: 768px) {
    .distChartDiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        width: 100%;
    }
    .chartInfo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .chart{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    text{
        font-size: 11px;
    }
}
