.textArea {
  all: unset;
  width: 100%;
  display: block;
  padding: 20px;
  color: #000;
  height: 240px;
  border-radius: 2px;
  box-sizing: border-box;
  margin-bottom: 5px;
  font-size: 14px;
  font-family: "SF Pro Display Regular";
  border: 1px rgba(136, 136, 136, 0.3) solid;
}

.maximumMessage {
  font-family: "SF Pro Display Regular";
  font-size: 12px;
  color: #888888;
  margin-left: 5px;
}
