.tableContainer {
  display: block;
  overflow: auto;
}

.paginationContainer {
  margin-left: auto;
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 10px 0;
  justify-content: flex-end;
  font-family: "SF Pro Display Regular";
  font-size: 12px;
}

.paginationContainer > * {
  transition: 0.7s all;
}

.paginationButton {
  cursor: pointer;
  border: 0;
  background-color: unset;
}

.paginationButton:disabled {
  opacity: 0.9;
  cursor: no-drop;
}

.paginationPageButton {
  width: 26px;
  height: 26px;
  background-color: #eff2f5;
  border: 1px #c8ced4 solid;
  color: #888888;
}

.paginationPageButton:disabled {
  color: #333333;
  background-color: #c8ced4;
  border: 0;
}
