h2{
  font-size: calc(0.9rem + .8vw);
}
h5{
  font-size: 1rem;
}
a{
  font-size: 13px;
  font-family: "SF Pro Display Regular";
  word-wrap: break-word;
  -ms-word-wrap: break-word;
}
span{
  font-size: 14px;
  font-family: "SF Pro Display Regular";
}
  .large_table{
    width: 100%;
  }

  table, td, th, p{
    font-size: 14px;
    font-family: "SF Pro Display Regular";
  }
  td{
    min-width: 200px;
  }
  @media (max-width: 500px) {
    .wallets_table .react-bootstrap-table table {
      overflow: auto;
      display: block;
      table-layout: auto;
    }
     
  } 
  @media (max-width: 800px) {
  
  
    .large_table  {
      overflow: scroll;
      display: block;
      table-layout: auto;
    }
  }
  
  @media (max-width: 900px) {
    .tokens_table .react-bootstrap-table table {
      overflow: auto;
      display: block;
      table-layout: auto;
    }
  }
  