.table {
  border-collapse: collapse;
  border-spacing: 5px;

  width: 100%;
}

.tableHeaderRow,
.tableBodyRow {
  display: flex;
  border-top: 1px #dee2e6 solid;
}

.tableBodyRow:last-of-type {
  display: flex;
  border-bottom: 1px #dee2e6 solid;
}

.tableHeaderRow > *,
.tableBodyRow > * {
  padding: 8px;
  flex: 33.3333333%;
  color: #212529 !important;
  border-left: 1px #dee2e6 solid;
}

.tableHeaderRow > *:last-of-type,
.tableBodyRow > *:last-of-type {
  border-right: 1px #dee2e6 solid;
}
