.navbarBg {
  background-color: #f3f2f7;
}

.reAdv {
  width: 590px;
  height: 82px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}

.reAdv span {
  color: #888;
  font-size: 12px;
}

@media only screen and (max-width: 991px) {
  .reAdv {
    width: 728px;
  }
}
@media screen and (max-width: 767px) {
  .reAdv {
    width: 90%;
  }
}

@media screen and (min-width: 992px) {
  .secondAd{
    width: 500px;
  }
  
}

