.listItemContainer {
  border: 1px solid #eff2f5;
  padding: 5px 10px;
}

.groupCard_rtl,
.title_rtl {
  direction: rtl;
}
.groupCard_ltr,
.title_ltr {
  direction: ltr;
}
.title_rtl,
.title_ltr {
  margin-left: 15px;
}

.listItem {
  font-size: 14px;
  font-family: "SF Pro Display Medium";
  height: 40px;
  padding: 10px;
}

.listItem:not(:last-child) {
  border-bottom: 1px solid #eff2f5;
}

/* 345*128 */

@media (max-width: 768px) {
  .listItem {
    margin-top: 10px;
  }
}
