dt {
    font-weight: 400;
    font-family: "SF Pro Display Regular";
}
.dtermheader{
    color: rgba(0, 0, 0, .6);
    /* font-weight: 700; */
    font-size: 14px;
    font-family: "SF Pro Display Regular";

}
ul{
    list-style-type: square;
}
li{
    font-size: 14px;
    font-family: "SF Pro Display Regular";
}
@media screen and (max-width: 600px) {
    dt, li{
        font-size: 14px;
        /* line-height: 15px; */
    }
    
  }