.container_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.container_left {
    display: flex;
    align-items: center;
}

.select_btn {
    width: 160px;
    height: 38px;
    background-color: #F5F5F5;
    border: 1px solid #E8EAEC;
    border-radius: 4px;
    font-size: 14px;
    font-family: SF Pro Display Regular;
    color: #888888;
    outline: none;
    /* margin-right: 10px; */
}
.category_ntn{
    width: 160px;
    height: 38px;
    background-color: #F5F5F5;
    border: 1px solid #E8EAEC !important;
    border-radius: 4px;
    font-size: 14px;
    font-family: SF Pro Display Regular;
    color: #888888;
    outline: none; 
    margin-left: 10px

}
.category_ntn:hover{
    background-color: #F5F5F5;
    color: #888888;

}
.category_ntn:active{
    background-color: #F5F5F5;
}
.notverified_btn, .verified_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 160px;
    height: 38px;
    
    border-radius: 4px;
    font-size: 14px;
    font-family: SF Pro Display Regular;
   
    margin-left: 10px;
    margin-right: 10px;
}
.notverified_btn{
    background-color: #F5F5F5;
    border: 1px solid #E8EAEC;
    color: #888888;

}
.verified_btn{
    border: 1px solid #9F4AE8;
    color: #9F4AE8;  
    background-color: rgba(159,74,232,0.15);
}

.live_btn {
    width: 160px;
    height: 38px;
    display: inline-block;
    border-radius: 4px;
    font-size: 12px;
    font-family: SF Pro Display Regular;
    /* color: #9F4AE8;
    background-color: rgba(159,74,232,0.15);
    border: 1px solid #9F4AE8; */

    background:  #fff;
    color: #ccc;
    border: 1px solid #ccc; 

    cursor: no-drop;
}
.disabled_verified_btn{
    background:  #fff;
    color: #ccc;
    border: 1px solid #ccc; 

    cursor: no-drop;
}
.disabled_verified_btn svg{
    fill: #ccc;
}

@media (max-width: 500px) {
    .live_btn, .verified_btn, .select_btn, .notverified_btn {
        font-size: 12px;
        white-space: nowrap;
        width: 120px;


    }
    .live_btn {
        margin-left: 10px;
    }
    .verified_btn{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .container_btn{
        overflow-x: scroll;
        padding-bottom: 15px;
    }
}