.breadCrumbBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 33px;
}

.breadCrumbList {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
}

.breadCrumbItem {
  text-decoration: none;
}

.breadCrumbItem:hover {
  color: #9f4ae8;
}

.breadCrumbItem {
  font-size: 14px;
  font-family: "SF Pro Display Medium";
  text-transform: capitalize;
  color: #707070;
}

.activeRoute {
  color: #333333 !important;
}

.breadCrumb_ltr .breadCrumbItem {
  margin-right: 10px;
}
.breadCrumb_ltr .breadCrumbItem:after {
  content: ">";
  margin-left: 10px;
}
.breadCrumb_ltr .breadCrumbItem:last-child {
  margin-right: 0;
}
.breadCrumb_ltr .breadCrumbItem:last-child:after {
  content: " ";
  margin-left: 0;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.breadCrumb_rtl .breadCrumbItem,
a {
  margin-left: 10px;
}
.breadCrumb_rtl .breadCrumbItem:after {
  content: ">";
  margin-right: 10px;
}
.breadCrumb_rtl .breadCrumbItem:last-child {
  margin-left: 0;
}
.breadCrumb_rtl .breadCrumbItem:last-child:after {
  content: " ";
  margin-right: 0;
}
.btns button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid #25292c;
  text-transform: capitalize;
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  transition: 0.5s;
  padding: 15px 10px;
}
.btns button:hover {
  color: #fff;
  border: 1px solid #fff;
  background-color: #25292c;
}
.btns button:first-child {
  margin-right: 10px;
}
.shareIcon_ltr {
  margin-left: 8px;
}
.shareIcon_rtl {
  margin-right: 8px;
}

@media only screen and (max-width: 991px) {
  .breadCrumbBar {
    flex-wrap: wrap;
  }
  .btns button {
    padding: 10px;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .breadCrumbBar li {
    font-size: 12px;
  }
  .btns button {
    padding: 5px;
    margin-top: 10px;
  }
}
