.wholeBg {
  background-color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wholeBg > *:last-child {
  margin-top: auto;
}

.copyRight {
  padding-top: 30px;
}
