.wholeBg{
    background-color: #fff;
    /* height: 100%; */
    /* padding-bottom: 200px; */
    position: relative;
}
.reAdv{
    width: 390px;
    height: 82px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto 77px;
}
.reAdv span{
    color: #888;
    font-size: 12px;
}

.copyRight{
    padding-top: 30px;
    /* position: absolute;
   bottom: 0px;
   left: 20%; */
}
@media only screen and (max-width: 991px){
    .reAdv{
        width: 90%;
    }
}
