.wholeBg{
    background-color: #fff;
}
.reAdv{
    width: 590px;
    height: 82px;
    background-color: #D0D0D0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto 77px;
}
.reAdv span{
    color: #888;
    font-size: 12px;
}
