.socialBarSection_rtl,
.socialBarSection_ltr {
  padding: 13px 0;
  border-bottom: 1px solid rgba(122, 122, 122, 0.15);
}
.socialBarSection_rtl {
  direction: rtl !important;
}
.socialBarSection_ltr {
  direction: ltr;
}
.socialBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.langIcon {
  display: flex !important;
  align-items: center !important;
  font-size: 12px !important;
}

.socialIcons_rtl {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.socialIcons_rtl li {
  margin-left: 8px;
}
.socialIcons_rtl li:last-child {
  margin-left: 0;
}

.langListGroup_ltr button > span:first-child,
.langListGroup_rtl button > span:first-child {
  display: inline-block;
  width: 80px;
  cursor: pointer;
}
.langListGroup_rtl button > span:first-child {
  padding-left: 10px;
}
.langListGroup_rtl li:last-child button,
.langListGroup_ltr li:last-child button {
  width: auto;
}
.langListGroup_ltr button > span,
.langListGroup_rtl button > span {
  font-size: 13px;
  font-family: "SF Pro Display Medium";
  color: #888;
}
.langListGroup_rtl {
  transform: translate3d(-10px, 52px, 0px) !important;
}
.langListGroup_ltr {
  transform: translate3d(0px, 52px, 0px) !important;
}
.dropdownLang {
  background: #fff;
  display: flex;
  flex-direction: column;
  z-index: 15;
  transform: translate(-55%, 7%) !important;
  inset: unset !important;
  width: fit-content !important;
  box-shadow: 0 0 8px 3px rgb(0 0 0 / 10%);
  min-width: auto !important;
}

.dropdownLangItem {
  padding: 7px 20px;
  transition: 1s;
}

.dropdownLangItem:first-child {
  margin-top: 0.2rem;
}

.dropdownLangItem:hover {
  background-color: rgba(136, 136, 136, 0.15);
}

.dropdownLangItem > button {
  padding: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdownLangItem > button > span {
  transition: 0.5s;
}

.dropdownLangItem:hover > button > span {
  color: #9f4ae8;
}

.dropdownLang button:hover {
  background-color: transparent;
}
.socialIcons_rtl li a {
  color: #888;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #888;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  transition: 0.5s;
}
.socialIcons_rtl li a:hover {
  color: #9f4ae8;
  border: 1px solid #9f4ae8;
  transform: rotate(360deg);
}
.socialBarNav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 19px;
  justify-content: flex-end;
  align-items: center;
}
.socialIcons_ltr {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.socialIcons_ltr li {
  margin-right: 8px;
}
.socialIcons_ltr li:last-child {
  margin-right: 0;
}
.socialIcons_ltr li a {
  color: #888;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #888;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  transition: 0.5s;
}
.socialIcons_ltr li a:hover {
  color: #9f4ae8;
  border: 1px solid #9f4ae8;
  transform: rotate(360deg);
}
.socialBarNav li {
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
}
.socialBarNav li:last-child {
  margin-right: 0;
}
.socialBarNav li a {
  color: #888;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.5s;
  font-size: 12px;
  font-family: "SF Pro Display Medium";
}
.socialBarNav li a:hover {
  color: #9f4ae8;
}
.dropbtn {
  background-color: transparent;
  color: #888;
  text-transform: capitalize;
  font-size: 12px;
  border: none;
  font-weight: 500;
}

.dropdown {
  color: #888;
  border: 0px;
  outline: 0px;
  background-color: transparent;
  cursor: pointer;
}

.dropdownContent {
  display: inline-block;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdownContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdownContent a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdownContent {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: transparent;
}

@media only screen and (max-width: 991px) {
  .socialBar {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .socialBarNav {
    margin-top: 13px;
  }
  .dropdownContent {
    min-width: 100%;
  }
}
