.cardContainer {
  display: flex;
  flex-direction: column;
}

.card {
  width: 100%;
  padding: 22px 12px 22px 16px;
  display: flex;
  min-height: 104px;
  gap: 12px;
}

.card > svg {
  width: 18px;
  height: 18px;
  flex: 1 0 18px;
}

.cardHeader {
  font-size: 16px;
  color: #25292c;
  font-family: "SF Pro Display Medium";
  margin-bottom: 10px;
}

.cardTitle {
  font-size: 14px;
  font-family: "SF Pro Display Medium";
}

.cardGreen {
  background-color: rgba(22, 199, 132, 0.1);
}

.cardGreen h3 {
  color: #16c784;
}

.cardRed {
  border: 1px solid #ea3943;
}

.cardRed h3 {
  color: #ea3943;
}

.cardGreen p,
.cardRed p {
  font-size: 12px;
  color: #888888;
  font-family: "SF Pro Display Regular";
  line-height: 14px;
}

.loader {
  width: 100%;
  height: 104px;
}

@media screen and (max-width: 992px) {
  .loader {
    width: 280px;
  }
}
@media screen and (max-width: 768px) {
  .loader {
    width: 100%;
  }
  .cardGreen h3,
  .cardRed h3 {
    padding-top: 4px;
  }
  .cardHeader {
    padding-top: 14px;
    padding-bottom: 5px;
  }
}
